<a href="https://colab.research.google.com/github/suphakan111/pythonlab3/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]
i = 0
sum = 0
while i < len(list1):
  if list1[i] % 2 == 0:
    sum += list1[i]
  i += 1
print(sum)

20

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [ ]:
list = [-5, 7, 10, 1, 2, 5, 8, 100]
max = 0
max_nd =0
i = 0
while i < len(list):
  if list[i] > max:
        max_nd = max
        max = list[i]
  i+=1

print(max_nd)

10

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [ ]:
input = 7
sum = 0
num = 0
for i in range(1,input+1):
  sum = 1/(i**2)
  num += sum
print(round(num,2))

1.51

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [ ]:
lists = [1,2,3,4,5], [5,4,3,2,1]
if lists[0][0] <  lists[0][1] < lists[0][2] <  lists[0][3]:
  print('True')
else:
  print('false')
if lists[1][0] <  lists[1][1] < lists[1][2] <  lists[1][3]:
  print('True')
else:
  print('False')

True
False

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [ ]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]
for i in range(len(x)):
  if x[i] < 30 :
    x[i] += x[i]*(10/100)
print(x)

[60, 70, 72, 65, 55, 43, 22.0, 90, 13.2]

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [ ]:
list = [15, 80, 75, 62, 55, 43, 99, 67, 10]
max = 5000
max_nd = 4999
sumlst = 0
i = 0
while i < len(list):
  sumlst += list[i]
  if list[i] <max:
    max_nd =max
    max = list[i]
  i+=1
print("เลขน้อยอันดับสอง = ",max_nd)
sumlst = sumlst -max_nd

print("sum_list = ",sumlst)

เลขน้อยอันดับสอง =  15
sum_list =  491

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [ ]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']
for i in range(len(lst)):
    if len(lst[i]) > 2 and lst[i][0]==lst[i][-1]:
      print(lst[i])

abba
alcaza
stores
execute

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [ ]:
lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']
sum = []
num = 0
for i in range(1,len(lst)):
    if lst[i] not in sum :
      sum.append(lst[i])
print(sum)

['a', 'b', 'c', 'd']

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [ ]:
lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]
sum1 = 0
sum2 = 0
sum3 = 0
sum4 = 0
sum5 = 0
for i in range(len(lst)):
  if lst[i] == 1:
    sum1 +=1
  elif lst[i] == 2:
    sum2 +=1
  elif lst[i] == 3:
    sum3 +=1
  elif lst[i] == 4:
    sum4 +=1
  elif lst[i] == 5:
    sum5 +=1
print(f'1 = {sum1}')
print(f'2 = {sum2}')
print(f'3 = {sum3}')
print(f'4 = {sum4}')
print(f'5 = {sum5}')

1 = 5
2 = 4
3 = 3
4 = 2
5 = 1

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [ ]:
input = 5
sum = 0
num= 0
for i in range(1,input+1):
  sum = input*i
  num += sum
print(num)

75

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
x = 3200
for i in range(2000,x+1):
  if i % 7 == 0 and i % 5 != 0 :
    print(i, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [ ]:
x = [1, 5, 4, 2, 1]
sum=0
for i in range(len(x)):
  for j in range(i+1,len(x)):
    if x[i]>x[j]:
      sum+=1
print(sum)

6

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 18,3

In [ ]:
input = 'klfjslkgD;FGK;LSDKdl;gfk;'
sumupper = 0
sumlower = 0
for i in input:
  if i.isupper():
    sumupper+=1
  elif i.islower():
    sumlower+=1
print(sumlower)
print(sumupper)

13
8

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [ ]:
x = 3000
num = 0
cut = 0
for i in range(1000,x+1):
  if i % 2 == 0:
    num = ','.join(str(i))
    cut = num.split(',')
    if int(cut[0]) % 2 == 0 and int(cut[1]) % 2 == 0 and int(cut[2]) % 2 == 0 and int(cut[3]) % 2 == 0 :
      print(i, end=',')

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

In [ ]:
num1 = 678
num2 = 345
x = 0
y = 0
for i in range(1,num1):
  if num1 % i == 0 and num2 % i == 0:
        x = i
print(x)

3

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [ ]:
input =str(9)
if int(input) >= 0 and int(input) <= 9:
  print(f'{int(input)+int(input*2)+int(input*3)+int(input*4)}' )
else :
  print('กรุณาใส่เลข0-9')

11106

8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [4]:
input = "MMMDCCXXIV"
letter = ['M','D','C','L','X','V','I']
numvalue = [1000,500,100,50,10,5,1]
college = 0
next = 0
Sum = 0
for i in range(len(input)):
  for j in range(len(letter)):
    if input[i] == letter[j]:
      college = numvalue[j]
    if i <= len(input)-2:
      if input[i+1] == letter[j]:
          next = numvalue[j]
  if college >= next:
        Sum += college
  else:
        Sum -= college
print(Sum)

3724

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [ ]:
ritgh = 0
left = 1
switch =0
while True:
  if switch == 0:
    print(str(ritgh)+","+str(left)+","+str(ritgh+left), end="")
  else :
    print(","+str(ritgh+left),end="")
  if switch % 2 == 0:
   ritgh = left + ritgh
  else:
    left = ritgh + left
  switch += 1
  if (ritgh+left) > 1000 :
    break

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)

In [6]:
gf = "Krystie Lee Yandoli"
bf = "Aubrey Drake Graham"
gf=gf.lower()
bf=bf.lower()
vari_1 = ['t','r','u','e','l','o','v','e']
vari_2 = [0,0,0,0,0,0,0,0]
i = 0
for i in range(len(gf)):
  for j in range(len(vari_1)):
    if gf[i] == vari_1[j]:
      vari_2[j]+= 1
for i in range(len(bf)):
  for j in range(len(vari_1)):
    if bf[i] == vari_1[j]:
      vari_2[j]+= 1

print(vari_1[0]+" "+str(vari_2[0])+" | "+vari_1[4]+" "+str(vari_2[4]))
print(vari_1[1]+" "+str(vari_2[1])+" | "+vari_1[5]+" "+str(vari_2[5]))
print(vari_1[2]+" "+str(vari_2[2])+" | "+vari_1[6]+" "+str(vari_2[6]))
print(vari_1[3]+" "+str(vari_2[3])+" | "+vari_1[7]+" "+str(vari_2[7]))
print(vari_2[0]+vari_2[1]+vari_2[2]+vari_2[3],end="")
print(vari_2[4]+vari_2[5]+vari_2[6]+vari_2[7])

t 1 | l 2
r 4 | o 1
u 1 | v 0
e 5 | e 5
118